<?xml version="1.0" encoding="UTF-8" ?>
<beans>
    <bean id="aService" class="com.learn.code.minioSpring.com.minis.test.AServiceImpl">
        <property type="String" name="property1" ref="Hello World!"/>
        <property type="String" name="property2" ref="Hello Earth!"/>
        <constructor-arg type="String" name="name" value="abc"/>
        <constructor-arg type="int" name="level" value="3"/>
    </bean>
</beans>